:root{
    --pink:rgba(255, 113, 105, 1);
    --blue: #012555;
    --skyblue: #3081ed;
}

body{
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.navbar-wrapper {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 12px;
}
.navbar-container {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.navbar {
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items-outer{
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: #4f4f4f;
    text-decoration: none;
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background: #fff;
    border-radius: 18px;
    padding: 4px;
    /* top: 60px; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown li {
    padding: 12px 16px;
    list-style: none;
}

.dropdown li:hover {
background-color: #f7f7f7;
border-radius: 8px;
}

.nav-links li:hover .dropdown {
    display: block;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.btn-mobile-login {
    font-weight: 700;
    font-size: 12px;
    color: #2f80ed;
    padding: 8px;
    border: 2px solid #2f80ed;
    border-radius: 8px;
    width: -moz-max-content;
    width: max-content;
    min-width: 100px;
    background-color: #fff;
    cursor: pointer;
}

.btn-mobile-apply{
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    border-radius: 8px;
    opacity: 1;
    background: linear-gradient(276.97deg,#992fed,#2f80ed);
    animation: btn-slide-left 1s cubic-bezier(.25,.46,.45,.94) both;
    pointer-events: all;
    border: 0px;
    width: 130px;
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .burger {
        display: block;
    }

    .nav-links li {
        text-align: center;
    }

    .dropdown {
        position: relative;
    }
}

.toggle {
    background-color: transparent;
}

.toggle::before {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle::after {
    transform: rotate(45deg) translate(-5px, -6px);
}


.hero-wrapper {
    width: 97%;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    /* background: url(/_next/static/media/purple_arraow.e16eb7db.svg);
    background-position: 60% 43%;
    background-repeat: no-repeat;
    background-size: 7%; */
}

.hero-wrapper .hero-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    padding: 15px;
}

.hero-wrapper .hero-left-wrapper .hero-heading {
    position: relative;
    width: 85%;
    font-weight: 700;
    font-size: 50px;
    color: #2b2f34;
}

.hero-wrapper .hero-left-wrapper .hero-heading .heading-span-blue {
    font-weight: 700;
    color: #3081ed;
}

.hero-wrapper .hero-left-wrapper .hero-subheading {
    width: 75%;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #595959;
}

.hero-wrapper .hero-left-wrapper .hero-subheading .subheading-gradient {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2px;
    text-transform: uppercase;
    background: linear-gradient(276.97deg,#992fed,#2f80ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: none;
    font-weight: 500;
    font-size: 19px;
}

.hero-wrapper .hero-left-wrapper .header-content-wrapper {
    width: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 40px rgba(0,0,0,.08);
    border-radius: 8px;
    padding: 10px;
}

.hero-wrapper .hero-left-wrapper .header-content-wrapper .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.hero-wrapper .hero-left-wrapper .header-content-wrapper .header-content .header-content-div {
    margin-left: 8px;
}

.hero-wrapper .hero-left-wrapper .header-content-wrapper .header-content .header-content-heading {
    font-weight: 700;
    font-size: 20px;
    color: #2b2f34;
}

.hero-wrapper .hero-left-wrapper .header-content-wrapper .header-content .header-content-subheading {
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
}


.hero-wrapper .hero-left-wrapper .hero-left-last-content {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.hero-wrapper .hero-left-wrapper .hero-left-last-content .linkedin-top20 {
    background: #0077b5;
    color: #fff;
    box-shadow: 0 2px 40px 0 rgba(0,0,0,.12);
    border-radius: 23px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.hero-wrapper .hero-left-wrapper .hero-left-last-content .header-special-content {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #525252;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 2px 40px rgba(0,0,0,.12);
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Login Form Styling */

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px -14px 138px -14px rgba(233,137,0,0.4),0px 25px 16px 0px rgba(0,0,0,0.2);
    width: 417px;
    height: 500px;
}

.login-container h2 {
    text-align: center;
    font-size: 24px;
    /* font-family:'figtree'; */
    font-weight: 700;
    margin-bottom: 8px;
}
.login-container h3{
    text-align: center;
    /* font-family: 'Figtree'; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:var(--gray);
    margin-top:0;
    margin-bottom: 42px;
}
.login-container span{
    color:var(--blue)
}
.login-container h4{
    text-align: center;
    /* font-family: 'figtree'; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black; 
    margin-bottom: 0px;
    margin-top: 4px;
               
}
.login-container h5{
    text-align: center;
    /* font-family: 'figtree'; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: blue;
    margin-top: 4px;

}
        
.login-form {
    display: flex;
    flex-direction: column;
}


.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group input {
    padding-left:14px;
    border: none;
    border-radius: 4px;
    width: 95%;
    height: 46px;
    margin-bottom: 6px;
    background-color:rgb(241, 241, 241);
    /* font-family: 'Figtree'; */
    font-size: 16px;
}

.login-form .form-group button {
    padding-left: 10px;
    background:linear-gradient(292deg,#992fed,#2f80ed);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0px;
    height: 50px;
    width: 184px; 
    margin-top: 64px;
    width:100%;   
    /* font-family: 'figtree'; */
    font-size: 18px;
    font-weight: 700;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}



/* Testimonials */

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding: 30px 0px 40px;
}

.testimonials-wrapper .testimonials-gradient-header {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    padding: 10px 45px;
    background: linear-gradient(276.97deg, rgb(153, 47, 237), rgb(47, 128, 237)) text;
}

.testimonials-wrapper .testimonials-header-slideButton-wrapper .testimonials-header {
    width: 60%;
    font-weight: 700;
    font-size: 42px;
    color: rgb(43, 47, 52);
}

.testimonials-wrapper .testimonials-header-slideButton-wrapper .testimonials-header .blue-span {
    font-weight: 700;
    font-size: 42px;
    color: #3081ed;
}

.testimonials-wrapper .testimonials-header-slideButton-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 40px;
}


/* 
.testimonials-wrapper .testimonials-header-slideButton-wrapper .slides-button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.testimonials-wrapper .testimonials-header-slideButton-wrapper .slides-button-holder .slide-button-right {
    margin-left: 20px;
} */

.testimonials-wrapper .testimonials-slides-wrapper::-webkit-scrollbar {
    display: none;
    height: 0;
    background: transparent
}

.testimonials-wrapper .testimonials-slides-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 25px 0 25px 15px;
    scroll-behavior: smooth;
    margin-left: 30px;

    .slide-wrapper{
        min-width: 650px!important;
        margin-right: 30px;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 360px;
    
        .slide-left {
            background: rgba(254, 186, 181, 1);
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: 10px 0px 0px 10px;
            p{
                font-weight: 700;
                font-size: 20px;
                color: #2b2f34;
                width: 70%;
                text-align: center;
                margin-bottom: 10px;
            }        
        }
    
        .company-logo{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            width: 100%;
        }
    
        .social-handels-Detail{
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
         }

         .profile-img {
            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
         }
        
         .linkedin, .youtube{            
            height: 35px;
            width: 35px;
             background-color: var(--blue);
             border-radius: 30px;  
             margin: 0px 5px;
             img{
                height: 17px;
                width: 35px;
                margin-top: 10px;
            }
             
            
         }
         /* .youtube{      
             margin-left: 20px;
             background-color: var(--blue);
             border-radius: 30px;
             img{
                height: 19px;
                width: 40px;
                margin-top: 10px;
           
            } */
             
         }
         
        
        .slide-right{
            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 65%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
    
            .testimonials-slide-header{   
                width: 100%;
                font-size: 28px;
                font-weight: 700;
                color: #2b2f34;
                margin-bottom: 10px;
        
            }
    
            .display-text {
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                margin-bottom: 20px;
            }
    
            .display-text-left, .display-text-right{
                width: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: 700;
                font-size: 12px;
                color: #fff;
                padding: 10px;
                border-radius: 6px;
                text-transform: uppercase;
                margin-right: 10px;
            }
            }
    
            .testimonials-slide-text {
                font-weight: 500;
                font-size: 14px;
                color: #595959;
            }
}


/* Placement section */
.placement-highlight-banner-outer {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: url(../icons/starbg.svg),linear-gradient(90deg,#eff8ff 39.58%,rgba(239,248,255,0));
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    .left-text-content {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        padding: 50px 0 50px 100px;

        .title-text {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            color: #2b2f34;
            font-size: 48px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -.72px;
        }

        .description {
            width: 80%;
            color: #595959;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 155%;
        }

        .placement-btn {
            padding: 12px 18px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: #2f80ed;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    }

    .right-text-content {
        width: 50%;
        display: flex;
        align-items: center;
        .companies-logo {
            display: flex;
            .logo-holder {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: -moz-max-content;
                width: max-content;
                margin: 0 20px;
                padding: 10px;
                border-radius: 8px;
                
                img {
                    height: 50px;
                    width: 180px;
                }
            }
        }
    }


}



  /* MENOTOR SECTION */

  .mentorpage-wrapper {
    overflow: hidden;
    padding: 50px 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;

    .mentorpage-gradient-header {
        padding: 0 20px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        background: linear-gradient(276.97deg,#992fed,#2f80ed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .mentorpage-header-slideButton-wrapper {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-items: flex-end;

        .mentorpage-header-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .mentorpage-header {
            width: 55%;
            font-weight: 700;
            font-size: 42px;
            color: #2b2f34;

            .blue-span {
                font-weight: 700;
                font-size: 42px;
                color: var(--skyblue);
                margin-right: 10px;
            }
        }
    }

    .mentorpage-slides-wrapper {
        width: 99%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-items: stretch;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 25px 10px;
        scroll-behavior: smooth;
        margin-left: 20px;
    }
    
    .slide-wrapper {
        min-width: 380px!important;
        position: relative;
        padding-bottom: 10px;
        margin-right: 30px;
        margin-top: 30px;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        border-radius: 10px ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .profile-img {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 75px;
            width: 75px;
            top: -40px;
            left: 30px;
            object-fit: contain;
            filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 2px 40px);
            border-radius: 50%;
            overflow: hidden;
            background: rgb(255, 255, 255);
            
            span {
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0;
                margin: 0;
                padding: 0;
                position: relative;
                max-width: 100%;

                img {
                    width: 80px;
                }
            }
        }

        .header-color-div {
            background-color: #f88341;
            width: 100%;
            position: absolute;
            top: 0px;
            z-index: -10;
            height: 8px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0px 30px;

            .social-handel {
                cursor: pointer;
                width: 100%;
                margin-top: 15px;
                font-size: 26px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                transition: transform 0.1s ease-in-out 0s;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: rgb(255, 255, 255);
                    padding: 8px;
                    border-radius: 50%;
                    background: rgb(1, 119, 181);
                }
            }

            .mentor-details{
                .name {
                    margin-top: 0px;
                    font-weight: 700;
                    font-size: 28px;
                    color: rgb(0, 0, 0);
                }

                .profession {
                    margin-top: 5px;
                    font-weight: 600;
                    font-size: 16px;
                    color: rgb(89, 89, 89);
                }

                .details {
                    margin-top: 5px;
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    color: rgb(89, 89, 89);
                }

                .company {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-end;
                    margin: 5px 0px;
                    align-items: center;

                    .position {
                        font-weight: 500;
                        font-size: 16px;
                        color: rgb(43, 47, 52);
                        padding-right: 8px;
                        border-right: 2px solid rgb(89, 89, 89);
                    }

                    .company-logo {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 0px 8px;
                    }


                }
            }

        }

        

    }
}


/* Statistics Wrapper */

.statistics-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-left: 60px;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-right: 5px;
    overflow: hidden;

    .statistics-left {
        padding-left: 20px;
        width: 45%;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .gradient-text {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(276.97deg, rgb(153, 47, 237), rgb(47, 128, 237)) text;
        }

        .heading {
            width: 85%;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 42px;
            color: rgb(43, 47, 52);

            .span-blue {
                font-weight: 700;
                font-size: 42px;
                color: #3081ed;;
            }
        }

        .topics {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 20px;
            row-gap: 30px;

            .topic-container {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 18px;
                justify-content: flex-start;
                align-items: center;

                .icon {
                    height: 50px;
                    width: 50px;
                    background-color: rgb(210, 237, 255);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 34px;
                        height: 34px;
                    }
                }

                .text {
                    font-weight: 500;
                    font-size: 18px;
                    color: rgb(89, 89, 89);
                }
            }
        }
    }

    .statistics-right {
        width: 50%;
        margin-right: 5px;

        .slides-wrapper {
            cursor: pointer;
            padding-left: 15px;
            overflow: -moz-scrollbars-none;
            overflow: -ms-scrollbars-none;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            overflow-y: hidden;
            overflow-x: scroll;
            background: linear-gradient(90deg,hsla(0,0%,100%,.843),hsla(0,0%,100%,0));
            background-position: 0;
            background-size: 5%;
            background-repeat: no-repeat;
            scroll-snap-type: x mandatory;

            .slide-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-width: 280px;
                position: relative;
                border: 2px solid #e2e2e2;
                border-radius: 8px;
                margin-right: 20px;
                z-index: -1;
                overflow: hidden;
                scroll-snap-align: center;

                .clip-path-div {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: -140px;
                    z-index: -1;
                    -webkit-clip-path: ellipse(150px 100px at 50% 50%);
                    clip-path: ellipse(150px 100px at 50% 50%);
                }

                .icon-1{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    min-width: 280px;
                    height: 250px;
                }

                .heading {
                    font-weight: 900;
                    font-size: 40px;
                }

                .text {
                    font-size: 23px;
                    font-weight: 500;
                    color: #4f4f4f;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* STUDENT WALL WRAPPER */

.studentwall-wrapper {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .studentwall-text-gradient {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(276.97deg, rgb(153, 47, 237), rgb(47, 128, 237)) text;
    }

    .studentwall-heading {
        font-weight: 700;
        font-size: 42px;
        color: rgb(43, 47, 52);
        margin-bottom: 10px;
    }

    .studentwall-text {
        font-weight: 500;
        font-size: 18px;
        color: rgb(89, 89, 89);
    }

    .wall-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .studentwall-content-wrapper {
            padding-bottom: 40px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            width: 100%;
            flex-wrap: wrap;

            .card-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 440px;
                box-shadow: rgba(0, 0, 0, 0.08) 5px 9px 40px;
                background: rgb(255, 255, 255);
                border-width: 2px;
                border-style: solid;
                border-color: rgb(215, 215, 215);
                border-image: initial;
                border-radius: 10px;
                margin: 8px;
                padding: 20px;
                flex: 0 0 42%;

                .card-head {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;

                    .card-header-left {
                        display: grid;
                        grid-template-columns: 0.6fr 4fr;
                        column-gap: 8px;

                        .profile-img {
                            height: 60px;
                            width: 60px;
                            box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 40px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            border-radius: 50%;
                            overflow: hidden;
                        }

                        .deatils {
                            width: 95%;
                            margin-right: 10px;

                            .name {
                                font-weight: 700;
                                font-size: 20px;
                                color: rgb(0, 0, 0);
                            }

                            .profile {
                                font-weight: 500;
                                font-size: 16px;
                                color: rgb(103, 103, 103);
                            }
                        }
                    }

                    .card-header-right {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;

                        img {
                            width: 38px;
                        }
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 16px;
                    color: rgb(103, 103, 103);
                    margin: 10px 0px;
                }
            }
        }
    }
}



/* COURSE OFFERINGS */
.course-offering-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 70px;

    .gradient-text {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
        background: linear-gradient(276.97deg, rgb(153, 47, 237), rgb(47, 128, 237)) text;
    }

    .heading-text {
        font-weight: 700;
        font-size: 42px;
        color: rgb(43, 47, 52);
        margin-bottom: 50px;
    }

    .course-option {
        width: 100%;
        padding-bottom: 0px;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 10px;

        .course-template-new {
            display: flex;
            flex-direction: column;
            width: 400px;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 32px 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(227, 227, 227, 0.5);
            border-image: initial;
            border-radius: 0.5rem;
            margin: 2rem 10px 10px;

            .course-type {
                position: absolute;
                padding: 8px;
                border-radius: 8px;
                width: 120px;
                text-align: center;
                /* margin: auto; */
                top: -1rem;
                left: 50%;
                transform: translateX(-50%);
            }

            .course-title {
                padding: 20px;
                background-color: #EEEDFF;
                background-image: linear-gradient(to bottom,#EEEDFF , rgba(255, 255, 255,1));

                .course-image {
                    width: 48px;
                }

                .course-icon{
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 700 !important;
                    /* margin: 0px */
                }

                .chip-flex {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 10px;

                    .chip {
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        background-color: rgb(206, 236, 255);
                        color: rgb(47, 128, 237);
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        gap: 0.35rem;
                        margin: 1rem 0px;
                        border-radius: 0.25rem;
                        padding: 0.35rem 0.6rem;
                    }
                }

                

                .left-text {
                    color: rgb(86, 86, 86);
                }
            }

            .course-curriculum, .course-placement{
                .course-accordian-flex{
                    display: flex;
                    padding: 20px 20px 0px 20px;

                    h2 {
                        margin: 0;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1.2;
                        margin-left: 10px;
                    }
                }
                .curriculum-arr {
                    ul {
                        list-style-image: url("../icons/tick-mark.svg");

                        li{
                            margin: 10px 0px;
                            color: rgb(86, 86, 86);
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .course-action {

                display: flex;
                justify-content: space-between;
                padding: 1rem;
                gap: 1rem !important;

                .template-bottom-curriculum {
                    background-color: rgb(206, 236, 255);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0.75rem 0.15rem;
                    flex: 1 1 0%;
                    gap: 0.5rem;
                    border-radius: 4px;
                    cursor: pointer;

                    .text {
                        color: rgb(47, 128, 237);
                        font-size: 0.85rem;
                    }
                    .icon {
                        font-size: 1rem;
                        color: rgb(47, 128, 237);
                    }
                }

                .template-bottom-learnMore {
                    background-color: rgb(47, 128, 237);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0.75rem 0.15rem;
                    flex: 1 1 0%;
                    gap: 0.5rem;
                    border-radius: 4px;
                    cursor: pointer;

                    .text {
                        color: rgb(255, 255, 255);
                        font-size: 0.85rem;
                    }

                    .icon {
                        font-size: 1rem;
                        height: 16px;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}





/* MARQUEE */

.rfm-marquee-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: var(--width);
    transform: var(--transform);
  }
  
  .rfm-marquee-container:hover div {
    animation-play-state: var(--pause-on-hover);
  }
  .rfm-marquee-container:active div {
    animation-play-state: var(--pause-on-click);
  }
  
  .rfm-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .rfm-overlay::before, .rfm-overlay::after {
    background: linear-gradient(to right, var(--gradient-color), transparent);
    content: "";
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
    pointer-events: none;
    touch-action: none;
  }
  .rfm-overlay::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .rfm-overlay::before {
    left: 0;
    top: 0;
  }
  
  .rfm-marquee {
    flex: 0 0 auto;
    min-width: var(--min-width);
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
    animation-play-state: var(--play);
    animation-delay: var(--delay);
    animation-direction: var(--direction);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
.rfm-initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}

.rfm-child {
    transform: var(--transform);
}




/* The Modal (background) */
.lead-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: 30px auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 60%; /* Could be more or less, depending on screen size */
            position: relative;
        }


        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
  
  }
  

  
.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;

}